body {
    background-color: rgb(239, 239, 187);
    color: red;
}

h1,
h2 {
    color: blue;
    background-color: rgb(132, 195, 132);
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    font-weight: normal
}

p {
    color: purple;
    background-color: lightgray;
    padding: 5px;
    margin: 20px;
    font-weight: bold
}