body {
    background-color: #E3F2FD;
}

h1 {
    color: #0D47A1;
}

h2 {
    border: 2px dotted #0D47A1;
    color: #2196F3;
    padding: 10px;
    font-size: 23px
}

p {
    color: #0D47A1;
    font-size: 16px;
    line-height: 1.5;
}